<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-7" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <link rel="stylesheet" href="static/styles.css">
    <title>Login</title>
    <style>
      h1 {
      }
      .error {
        color: red;
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
        <a href="/login">Login</a>
        <a href="/register">Create account</a>
    </nav>
    <h1>Login to your account</h1>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/login" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required />
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
