nav {
    text-decoration: none;
    width:100vw; 
    justify-content:center;
    display: flex;
    padding-bottom: 2rem; 
    font-size: 2rem;
    color: #3D52A0;
}
nav a{
    padding-right: 5rem;
    text-decoration: none;
}
a:visited{
    color: #3D52A0;
}

*{
font-family: 'Sora', sans-serif;
}
body {
    width: 100%;
}
html {
    background-color: #ADBBDA;
}
